.section1 {
    background-color: #faa134;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;  
    overflow: hidden;
}

.section1_center {
    grid-column: 2;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    text-align: center;
    max-height: 100vh; /* Limita la altura máxima */
    overflow: hidden; /* Oculta el contenido que excede la altura máxima */
}

.section1_center_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section1_center .titulo {
    font-size: 15rem;
    font-family: 'Bebas Neue', sans-serif;
    margin: 0; 
    padding: 0; 
    line-height: 1; 
}

.section1_center .subtitulo {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    margin: 0; 
    padding: 0; 
    line-height: 1; 
}

.section1_center_top {
    position: relative;
}

.section1_center_top img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -60%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.4;
}

.section1_center_bottom {
    position: relative;
}

.section1_center_bottom img {
    width: 100%;
}

.section1_center_bottom img{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -60%;
    opacity: 0.4;
}
.section1_left{
    grid-column: 1;
}

.section1_left img{
    width: 100%;
    height: 100%;
    transform: translate(-50%, 0);
}

.section1_right{
    grid-column: 3;
}

.section1_right img{
    width: 100%;
    height: 100%;
    transform: translate(50%, 0);
}

@media(max-width:1200px){
    .section1_center .titulo {
        font-size: 13rem;
    }
}

@media(max-width:992px){
    .section1_center .titulo {
        font-size: 10rem;
    }
    .section1_center .subtitulo {
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    .section1 {
        grid-template-columns: 1fr;
    }
    .section1_center {
        grid-template-rows: auto;
    }
    .section1_center .titulo {
        font-size: 4rem;
    }
    
}