.section3 {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;


}

.section3_left {
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.section3_left img {
    width: 100%;
    height: 100%;
    object-fit:fill;
    object-position: center;
}

.section3_right {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #faa134;
}

.section3_right .titulo {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    margin: 0.5rem;
}

.section3_right_medium .contenido {
    list-style-type: disc;
    margin: 0.5em;
    padding-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

.section3_right_bottom .conclusion {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.section3_right_bottom img {
    width: 20%;
    height: 20%;
    object-fit: fill;
    object-position: center;
    transform: rotate(180deg);
}
.section3_right_bottom img.in-viewport {
    transition: transform 1s ease-in-out;
    transform: rotate(0deg);
}

@media(max-width:992px){
    .section3{
        height: auto;
    }
    .section3_right .titulo{
        font-size: 2.5rem;
    }

    .section3_right .contenido{
        font-size: 1.2rem;
    }

    .section3_right_bottom .conclusion{
        font-size: 1.5rem;
        text-align: center;
    }
}


@media (max-width: 768px) {
    .section3 {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .section3_right .titulo {
        font-size: 2rem;
    }

    .section3_right_medium .contenido {
        font-size: 1rem;
    }

    .section3_right_bottom .conclusion {
        font-size: 1.5rem;
        flex-direction: column;
        text-align: center;

    }

    .section3_right_bottom .conclusion img {
        width: 50%;
        height: auto;
        transform: rotate(90deg);
    }
}