.section6 {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "area1 area2 area3"
        "area4 area5 area6"
        "area7 area8 area9";
    background-image: url(../images/iker.jpeg);
    background-size: cover;
    background-position: center;
}

.section6_left_top {
    grid-area: area1;
    display: flex;
    justify-content: center;
}

.section6_left_top .titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #faa134;
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 1rem;
}

.section6_left_bottom {
    grid-area: area7;
    display: flex;
}

.section6_left_bottom .nombre_corredor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #faa134;
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 1rem;
}

.section6_right_top {
    grid-column: 3;
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);

}

.section6_right_top .logros {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    width: 100%;

}

.section6_right_top .logros {
    font-size: 1.5rem;
}

@media(max-width:1200px) {
    .section6_left_top .titulo {
        padding: 1rem;
    }

    .section6_left_bottom .nombre_corredor {
        font-size: 3rem;
    }

    .section6_right_top .logros {
        font-size: 1rem;
    }
}

@media (max-width:768px) {
    .section6 {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "area1"
            "area4"
            "area7";
    }

    .section6_left_top {
        grid-area: area1;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .section6_left_top .titulo {
        font-size: 2rem;
    }

    .section6_left_bottom {
        grid-area: area7;
        font-size: 0.8rem;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .section6_left_bottom .nombre_corredor {
        display: none;
    }

    .section6_right_top {
        grid-area: area4;
        font-size: 0.8rem;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
    }


}