.section7 {
    position: relative;
    height: 100vh;
    background-image: url('../images/logo_sin_fondo.gif');
    background-size: cover;
    background-position: center;
}

.section7::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1;
}

.section7>* {
    position: relative;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.section7_container {
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.5fr repeat(4, 1fr);
    row-gap: 2rem;
    grid-template-areas:
        "organigrama organigrama organigrama organigrama"
        ". presi presi ."
        ". secre secre ."
        "dirdep2 dirdep2 dirdep3 dirdep3"
        "mtbnac mtband femnac club";
        
}

.organigrama {
    grid-area: organigrama;
    width: 80%;
    justify-self: center;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #faa134;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
}

.presi {
    grid-area: presi;
    flex: 1;
    width: 50%;
     
}

.secre {
    grid-area: secre;
    flex: 1;
    width: 50%;
}

.dirdep2 {
    grid-area: dirdep2;
    width: 50%;
}

.dirdep3 {
    grid-area: dirdep3;
    width: 50%;
}

.mtbnac {
    grid-area: mtbnac;
    
}

.mtband {
    grid-area: mtband;
    
}

.femnac {
    grid-area: femnac;
     
}

.club {
    grid-area: club;
    
}

.presi, .secre, .dirdep2, .dirdep3, .mtbnac, .mtband, .femnac, .club {
    justify-self: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #faa134;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.section7_container p{
    text-align: center;
}

@media (max-width: 768px) {
    .section7_container {
        grid-template-columns: 2fr;
        grid-template-rows: 0.5fr repeat(4, 1fr);
        grid-template-areas:
            "organigrama organigrama"
            "presi secre"
            
            "dirdep2 dirdep3"
            
            "mtbnac mtband"
            "femnac club";
            
    }
    
    .organigrama {
        font-size: 1rem;
        flex: 1 1 100%;
    }
    
    .presi, .secre, .dirdep2, .dirdep3, .mtbnac, .mtband, .femnac, .club {
        flex: 1 1 100%; /* Ajusta el ancho de los elementos para que ocupen toda la fila */
        font-size: 0.5rem;
    
    }
}