.section9 {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: black;
    color: #faa134;
}

.section9_left {
    display: grid;
    grid-template-rows: 0.2fr 1fr;
}

.section9_left_top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    padding-left: 1rem;
}

.section9_left_top .titulo {
    font-size: 3rem;
}

.section9_left_top .subtitulo {
    font-size: 2rem;
}

.section9_left_bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin: 0.5rem;
    padding: 0.5rem;

}

.section9 table {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin: 0.5rem;
}

.section9 table th.concepto {
    text-align: left;
    padding-left: 1rem;
}

.section9 table th.importe {
    text-align: right;
    padding-left: 2rem;

}

.section9 table th.concepto_total {
    text-align: right;
}

.section9_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.section9_right .img_container {
    width: 100%;
    height: 50%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
}

.img_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@media(max-width:1200px) {
    .section9 {
        height: auto;
    }

    .section9_left_top .titulo {
        font-size: 2.5rem;
    }

    .section9_left_bottom {
        font-size: 1.2rem;
    }

    .section9 table {
        font-size: 1.2rem;
    }
}

@media(max-width:992px) {


    .section9_left_top .titulo {
        font-size: 2.3rem;
    }

    .section9_left_bottom {
        font-size: 1.2rem;
    }

    .section9 table {
        font-size: 1rem;
    }
}

@media(max-width: 768px) {
    .section9 {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .section9_left_top .titulo {
        font-size: 2rem;
    }

    .section9_left_top .subtitulo {
        font-size: 1rem;
    }

    .section9 table th.concepto {
        padding-left: 0;
    }

    .section9_left_bottom table {
        font-size: 1rem;
    }

    .section9_right {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section9_right .img_container {
        display: none;
    }
}