@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Coach';
    src: url('../fonts/Coach-normal-400-100.otf') format('opentype');
}

@font-face {
    font-family: 'Port';
    src: url('../fonts/Port\ Condensed-normal-400-100.otf') format('opentype');
}

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: Flex;
    flex-direction: column;

}

.parallax,
.parallax2 {
    min-height: 30vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.parallax{
    background-image: url("../images/salo_ok.webp");
}

.parallax2{
    background-image: url("../images/curro_saltarin.webp");
}



footer {
    margin: 0;
    padding: 0;
    background-color: white;
}

.titulo{
    font-weight: bold;
}