@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Coach';
    src: url('../fonts/Coach-normal-400-100.otf') format('opentype');
}

@font-face {
    font-family: 'Port';
    src: url('../fonts/Port\ Condensed-normal-400-100.otf') format('opentype');
}

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: Flex;
    flex-direction: column;

}

.titulo{
    font-weight: bold;
}

.parallax,
.parallax2, 
.parallax3, 
.parallax4,
.parallax5,
.parallax6,
.parallax7,
.parallax8,
.parallax9{
    min-height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.parallax{
    background-image: url("../images/buque_insignia.JPG");
}

.parallax2{
    background-image: url("../images/curro_saltarin.webp");
}

.parallax3{
    background-image: url("../images/salo_ok.webp");
}

.parallax4{
    background-image: url("../images/cazorla.jpg");
}


.parallax5{
    background-image: url("../images/podium_2.jpeg");
}

.parallax6{
    background-image: url("../images/subida_road.jpg");
}

.parallax7{
    background-image: url("../images/curro_jerez.webp");
}

.parallax8{
    background-image: url("../images/equipacion.png");
}

.parallax9{
    background-image: url("../images/carpa.jpeg");
}